<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mj.mapper.ShopMapper">

	<insert id="ShopInsert">
		insert into coffeeshop(shopname, shoptel, shopaddress, shoptime, ransrc)
		values(#{shopname}, #{shoptel}, #{shopaddress}, #{shoptime}, #{ransrc})
	</insert>
	
	<select id="ShopList" resultType="org.mj.model.ShopDTO">
		select * from coffeeshop
	</select>
</mapper>