@charset "utf-8";

#wrap{
    position: relative;
}
#header{
    position: relative;
    width: 100%;
    /* background-color: rgb(218, 198, 187); */
    padding: 10px 10px 17px 10px;
    box-sizing: border-box;
}
.headerIn{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerIn a{
    display: block;
    width: 30px;
    height: 30px;
    color: #222;
}
.headerIn h1{
    display: block;
    width: 100%;
}
.headerIn .logo{
    display: flex;
    margin-left: 40%;
    text-align: center;
}
.headerIn .title{
    width: 30px;
    font-size: 12px;
    line-height: 30px;
    margin-left: 5px;
}
.headerMenu{
    width: 25px;
    height: 25px;
    margin-top: 4px;
}
.menu{
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    z-index: 500;
}
.menu .close a{
    display: flex;
    justify-content: space-between;
}
.menu .close img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}
.menu .close a h1{
    display: block;
    width: 100%;
    margin-left: -15%;
    text-align: center;
    margin-top: 5px;
    line-height: 40px;
    color: #222;
}
.navi{
	height : 100vh;
}
.navi ul{
    margin: 10px 0;
}
.navi li{
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 1px solid #888;
}
.navi li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 60px;
    color: #222;
}


/* 메인 1 */
.row1{
    padding: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.row1 #map{
    width: 100%;
    height: 400px;
    z-index: -100;
}

/* 메인 2 */
.row2{
    position: relative;
    height: 280px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.row2 h2{
    margin-bottom: 20px;
    padding: 0 10px;
    /* color: rgb(151, 129, 117); */
}
.row2 ul{
    width: 100%;
    height: 240px;
    padding: 0 5px;
    margin-bottom: 20px;
}
.row2 ul li{
    width: 50%;
    height: 200px;
    padding: 0 5px;
    box-sizing: border-box;
}
.row2 li a{
    display: block;
    width: 100%;
    height: 80%;
    text-align: center;
    color: #444;
}
.row2 li a img{
    height: 100%;
    margin-bottom: 15px;
}
.row2 li a p{
    padding-top: 5px;
    border-top: 1px solid #ccc;
}
.row2 .slick-prev{
    position: absolute;
    bottom: 0;
    left: 10%;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    background-image: url(../img/icons8-back-to-50.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
.row2 .slick-next{
    position: absolute;
    bottom: 0;
    right: 10%;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    background-image: url(../img/icons8-next-page-50.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}
ul .slick-dots{
    height: 10px;
}
.slick-dots button{
    position: absolute;
    bottom: 5px;
    right: 50%;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    text-indent: -99999px;
}


/* 메인-3*/
.row3{
    width: 100%;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(226, 226, 226, 0.521);
    margin-bottom: 200px;
}
.row3 a{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}
.row3 a img{
    width: 50px;
}
.row3 h2{
    font-size: 23px;
    line-height: 47px;
    color: #222;
}

/* 푸터 */
#footer{
    height: 400px;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    background-color: #444;
    padding: 30px 20px;
}
.fbox1{
    font-size: 12px;
    line-height: 25px;
}
.fbox2{
    line-height: 30px;
}
.fbox2 a{
    color: lightpink;
}
.gitimg{
    width: 50px;
}
.gitimg img{
    margin-left: 10px;
}
